var modelFliter = function(value){
  if (value =="RECOURSE_RIGHT"){
    return "是";
  }else{
    return "否";
  }
}

var stepCode = function (value) {
  var steps = [{ value: 'APPROVAL', text: "业务申请" }, { value: 'TUNEUP', text: "业务审核" }, { value: 'TUNEUP_AUDIT', text: "尽调审核" }, { value: 'MEETING', text: "三重一大" }, { value: 'DRAWUP', text: "合同拟定" }, { value: 'DRAWUP_AUDIT', text: "合同审核" }, { value: 'SIGN', text: "签署" }, { value: 'LOAN', text: "放款录入" }, { value: 'LOAN_AUDIT', text: "放款审核" }, { value: 'AFTER_LOAN', text: "贷后管理" }, { value: 'FILE', text: "归档" }, { value: 'FILE_AUDIT', text: "归档审核" }, { value: 'BACK', text: "待回款" }, { value: 'END', text: "完结" }]
  return toText(steps, value);
}

var stepFliter = function (value){
  var steps = [{ value: 0, text: "业务申请" }, { value: 1, text: "业务审核" }, { value: 2, text: "放款录入" }, { value: 3, text: "贷后管理" }, { value: 4, text: "归档" }, { value: 5, text: "合同审核" }, { value: 6, text: "签署" }, { value: 7, text: "放款申请" }, { value: 8, text: "放款审核" }, { value: 9, text: "放款操作" }, { value: 10, text: "归档" }, { value: 11, text: "归档审核" }, { value: 12, text: "待回款" }, { value: 13, text: "完结" }]
  return toText(steps, value);
}

var stepStatus = function(value){
  var items = [{ value: 'LATER', text: "后补" }, { value: 'BEGIN', text: "未开始" }, { value: 'COMPLETED', text: "已完成" }, { value: 'PROCESSING', text: "处理中" }];
  return toText(items, value);
}

var meetingKind = function (value){
  var items = [{ value: 'APPROVAL', text: "立项会议" }, { value: 'DIRECTORS', text: "董事会决议会" }, { value: 'PARTY', text: "党总支会议" }, { value: 'BOARD', text: "董事会" }];
  return toText(items, value);
}

var meetingStatus = function (value){
  var items = [{ value: 'PLAN', text: "未开始" }, { value: 'MEETING', text: "进行中" }, { value: 'END', text: "已结束" }, { value: 'CANCELLED', text: "已取消" }];
  return toText(items, value);
}

var auditType = function(value){
  var items = [{ value: 'TUNEUP', text: "尽调审核" }, { value: 'DRAWUP', text: "合同审核" }, { value: 'LOAN', text: "放款审核" }, { value: 'FILE', text: "归档审核" }];
  return toText(items, value);
}

var fundStep = function(value){
  var items = [{ value: 'STOP', text: "项目终止" }, { value: 'SUSPEND', text: "暂停" }, { value: 'INITIAL_CONTACT', text: "初步接触" }, { value: 'SIGN_CONFIDENTIALITY', text: "签署保密协议" }, { value: 'INITIAL_TUNING', text: "初步尽调" }, { value: 'APPROVAL', text: "项目立项" }, { value: 'DEEP_TUNING', text: "深入尽调" }, { value: 'PARTMENT_AUDIT', text: "风控审核" }, { value: 'AUDIT_MEETING', text: "三重一大" }, { value: 'SASAC_APPROVAL', text: "国资委审批" }, { value: 'GOV_APPROVAL', text: "区政府审批" }, { value: 'CONTRACT_SIGN', text: "合同签署" }, { value: 'CONTRACT_AUDIT', text: "合同审核" }, { value: 'PAYMENT', text: "付款通知" }, { value: 'PAYMENT_AUDIT', text: "付款审核" }, { value: 'FUND_LOAN', text: "支付打款" }, { value: 'INFO_CHANGE', text: "验资/信息变更" }, { value: 'FILE', text: "项目归档" }, { value: 'FILE_AUDIT', text: "归档审核" }, { value: 'POST_INVESTMENT', text: "投后管理" }, { value: 'OUT', text: "项目退出" }];
  return toText(items, value);
}

var auditResult = function (value) {
  var items = [{ value: 'APPLY', text: "申请" }, { value: 'PASS', text: "通过" }, { value: 'REJECTED', text: "驳回" }];
  return toText(items, value);
}

var notNull = function(value){
  if (value == undefined ||value == null ){
    return "";
  }
  return value;
}

var toText = function(items,value){
  for (var index = 0; index < items.length; index++) {
    if (items[index].value == value) {
      return items[index].text;
    }
  }
  return "";
}

module.exports = {
  modelFliter: modelFliter,
  stepFliter: stepFliter,
  meetingKind: meetingKind,
  meetingStatus: meetingStatus,
  auditType: auditType,
  auditResult: auditResult,
  stepStatus: stepStatus,
  stepCode: stepCode,
  fundStep: fundStep
}